* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 100px;
  background-color: black;
  color: white;
}

header .logo {
  position: relative;
  font-size: 2rem;
  font-weight: 600;
  text-decoration: none;
}
header .nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 10px 0;
}

header .nav ul {
  list-style: none;
  margin: 0 20px;
}

/* <!-- TODO:need to adjust mobile view right side white space --> */
header .search-button {
  cursor: pointer;
  position: block;

  background: transparent;
  color: white;
  border: 0;
  margin-left: 3px;
}

/* TODO:need to move search ul next to search input */
@media screen and (min-width: 0px) and (max-width: 454px) {
  header ul .search {
    visibility: hidden;
    /* left: -185%;
      margin-bottom: 30px; */
  }
}

/* search box */
header .search input {
  position: relative;
  top: 0;
  right: 0;
  padding: 5px;
  border: 1;
  outline: 0;
  border-radius: 3px;
}

/* moves search bar to left side when 454s */
@media screen and (min-width: 0px) and (max-width: 454px) {
  .search input {
    /* visibility: hidden; */
    left: -176%;
    margin-bottom: 39px;
  }
}

/* <!-- TODO:need to adjust mobile view right side white space --> */
.shopping-cart-button {
  display: flex;
  color: white;
  font-size: 20px;
  border: none;
  cursor: pointer;
  float: right;
  /* margin-right: -80px; */
  margin-left: 60px;
  margin-top: 5px;
}

/* TODO:need to move shopping cart to left side */
@media screen and (min-width: 0px) and (max-width: 454px) {
  .shopping-cart-button {
    /* visibility: hidden; */
    float: right;
  }
}
/* //CART */
.cart {
  position: fixed;
  top: 9.1%;
  right: -100%;
  width: 360px;
  min-height: 100vh;
  padding: 20px;
  background: white;
  box-shadow: -2px 0 4px hsl(0 4% 15% / 10%);
  transition: 0.3s;
}
.cart.active {
  right: 0;
}
.cart-title {
  color: black;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 2rem;
}
.cart-box {
  display: grid;
  grid-template-columns: 32% 50% 18%;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}
.cart-img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  padding: 10px;
}
.detail-box {
  display: grid;
  row-gap: 0.5rem;
}
.cart-product-title {
  color: black;
  font-size: 1.5rem;
  text-transform: uppercase;
}
.cart-price {
  font-weight: 500;
  color: black;
}
.cart-quantity {
  border: 1px solid black;
  outline-color: red;
  width: 2.4rem;
  text-align: center;
  font-size: 1rem;
}
.cart-remove {
  font-size: 24px;
  color: black;
  cursor: pointer;
  margin-top: 9px;
}
.total {
  display: flex;
  justify-content: flex-end;
  margin-top: 1.5rem;
  border-top: 1px solid black;
}
.total-title {
  font-size: 1rem;
  font-weight: 600;
  color: black;
}
.total-price {
  margin-left: 00.5rem;
  color: black;
}
.btn-buy {
  display: flex;
  margin: 1.5rem auto 0 auto;
  padding: 12px 20px;
  border: 0;
  background: black;
  color: white;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
}
.btn-buy:hover {
  background: #333;
}
#close-cart {
  color: black;
  position: absolute;
  top: 1rem;
  right: 0.8rem;
  font-size: 2rem;
  cursor: pointer;
}

/* CLASSES TO MAKE MODAL WORK */
.hidden {
  display: none;
}

/* modal */
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  /* //center to the screen */
  transform: translate(-50%, -50%);
  width: 25%;
  height: 70%;
  background-color: white;
  padding: 6rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}

/* added overlay */
.overlay {
  position: fixed;
  /* top: 0; */
  /* left: 0; */
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}

/* modal closing X */
.close-modal {
  position: absolute;
  top: 0;
  display: flex;
  font-size: 3rem;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}
.add_movie_name {
  outline: none;
}
.add_movie_year {
  outline: none;
}
/* //add movie submit button */
.input-submit-button {
  position: absolute;
  bottom: 0;
  margin-bottom: 10px;
}
/* //added movie picture container */
.added_image {
  display: flex;
  flex-direction: column;
  height: 311px;
  width: 211px;
  border: 1px solid black;
  background-position: center;
  background-size: cover;
}
/* main box background */
.showcase {
  padding: 100px;
  height: 100%;

  background: linear-gradient(
    180deg,
    rgba(122, 119, 69, 1) 0%,
    rgba(147, 153, 80, 1) 35%,
    rgba(204, 207, 117, 1) 100%
  );
  min-height: 100vh;
}
/* //genre and year button */
/* ul .genre {
  border: none;
  padding: 9px;
  border-radius: 10px;
  margin-right: 20px;
  cursor: pointer;
}
ul .year {
  border: none;
  padding: 9px;
  border-radius: 10px;
  margin-right: 20px;
  cursor: pointer;
} */

ul .add-movies {
  border: none;
  padding: 9px;
  border-radius: 10px;
  cursor: pointer;
}
/* Parent div set to font-size: 0px and childs to wanted size  */
.row {
  font-size: 0;
}
img {
  max-width: 100%;
  height: 250px;
}

.row {
  flex-direction: row;
  display: flex;
  /* lets cards go on different rows */
  flex-wrap: wrap;
  justify-content: center;
}
.lower-card {
  border-radius: 0 0 5px 5px;
  background-color: rgb(94, 92, 92);
  font-size: 15px;
  color: white;
  height: 143px;
  display: flex;
  flex-direction: column;
}
/* add to card button styles */
.add-cart-button {
  background-color: #4dbf00;
  color: white;
  margin: 6px 6px 6px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  /* position: absolute; */
  margin-top: auto;
  padding: 5px;
}
.add-cart-button:active {
  background: #3c9700;
}
/* lower card text */
.lower-card h4,
p {
  margin-left: 10px;
  align-self: normal;
}
.card {
  margin-top: 60px;
  margin-right: 30px;
}
/* Add rounded corners to the top left and the top right corner of the image */
.card-box img {
  border-radius: 5px 5px 0 0;
}
.card-box {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px; /* 5px rounded corners */
  width: 170px;
}
